<!DOCTYPE html>
<html lang="en">

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="~/assets/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true">
<link href="~/assets/css/site.css" rel="stylesheet" asp-append-version="true">
<link href="~/assets/css/custom.css" rel="stylesheet" asp-append-version="true" />
<link href="~/assets/css/esd_intra_responsive.css" rel="stylesheet" asp-append-version="true">
<link href="~/assets/css/nys-global-nav.css" rel="stylesheet" asp-append-version="true">
<link rel="preconnect" href="https://fonts.googleapis.com" asp-append-version="true">
<link rel="preconnect" href="https://fonts.gstatic.com" asp-append-version="true">
<link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" asp-append-version="true">
<link href="https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" asp-append-version="true" />
<link href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" rel="stylesheet" crossorigin="anonymous" asp-append-version="true">
<script src="https://code.jquery.com/jquery-3.5.1.min.js" asp-append-version="true"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>

<script>
    $(document).ready(function () {
        var maxLength = 164;
        $(".show-read-more").each(function () {
            var myStr = $(this).text();
            if ($.trim(myStr).length > maxLength) {
                var newStr = myStr.substring(0, maxLength);
                var removedStr = myStr.substring(maxLength, $.trim(myStr).length);
                $(this).empty().html(newStr);
                $(this).append(' <a href="javascript:void(0);" class="read-more">read more...</a>');
                $(this).append('<span class="more-text">' + removedStr + '</span>');
            }
        });
        $(".read-more").click(function () {
            $(this).siblings(".more-text").contents().unwrap();
            $(this).remove();
        });
    });
</script>


<div class="flex-container dk-grey" style="padding:1.25rem;">
    <div class="titleBlock tf"><a href="default.asp"><span class="ns1">ESD Employee Intranet</span></a></div>
    <div class="socialBlock">
        <a href="https://www.facebook.com/EmpireStateDevelopment">
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="#0073ea" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg>
        </a>
        <a href="https://twitter.com/empirestatedev">
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="#0073ea" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-twitter"><path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path></svg>
        </a>
        <a href="https://www.linkedin.com/company/empire-state-development">
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="#0073ea" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-linkedin"><path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path><rect x="2" y="9" width="4" height="12"></rect><circle cx="4" cy="4" r="2"></circle></svg>
        </a>
        <a href="https://www.youtube.com/user/EmpireStateDev">
            <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" viewBox="0 0 24 24" fill="none" stroke="#0073ea" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-youtube"><path d="M22.54 6.42a2.78 2.78 0 0 0-1.94-2C18.88 4 12 4 12 4s-6.88 0-8.6.46a2.78 2.78 0 0 0-1.94 2A29 29 0 0 0 1 11.75a29 29 0 0 0 .46 5.33A2.78 2.78 0 0 0 3.4 19c1.72.46 8.6.46 8.6.46s6.88 0 8.6-.46a2.78 2.78 0 0 0 1.94-2 29 29 0 0 0 .46-5.25 29 29 0 0 0-.46-5.33z"></path><polygon points="9.75 15.02 15.5 11.75 9.75 8.48 9.75 15.02"></polygon></svg>
        </a>
    </div>
</div>


<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        <li class="nav-item">

                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark" asp-area="" asp-controller="HR" asp-action="HRHome">Human Resources</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item">Forms & Resources</a></li>
                                <li><a class="dropdown-item">Agency Policies & Handbooks</a></li>
                                <li><a class="dropdown-item">Reasonable Accommodation</a></li>
                                <li><a class="dropdown-item">Training & Development</a></li>
                                <li><a class="dropdown-item">Retirement Planning</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Hrfiles" asp-action="Index">Human Resources Files</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark" asp-area="" asp-controller="CorpEmployeeBenefits" asp-action="CorpBenefitsHome">Corporate Benefits</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark" asp-area="" asp-controller="EconomicAnalysisResearch" asp-action="EARHome">Economic Analysis & Research</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark" asp-area="" asp-controller="FinanceProcurment" asp-action="FinanceHome">Finance & Procurment</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark" asp-area="" asp-controller="DiversityInclusion" asp-action="DiversityInclusionHome">Diversity & Inclusion</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Legal" asp-action="LegalHome">Legal</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark" asp-area="" asp-controller="IT" asp-action="ITHome">Information Technology</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark" asp-area="" asp-controller="RegionalOffices" asp-action="RegionalOfficesHome">Regional Offices</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Marketing" asp-action="MarketingHome">Marketing</a>
                        </li>
                        <p class="nav navbar-text">Hello, @User.Identity?.Name!</p>

                    </ul>
                    
                </div>
            </div>
        </nav>
    </header>








    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>





    <!--Footer-->
    <footer class="border-top footer text-muted">
        <div class="nys-global-footer">
            <div class="footer-container">
                <h3 style="color: #0073ea;">Quick Links </h3>
                <div class="footer-col">
                    <h4>About ESD</h4>
                    <ul>
                        <li><a href="http://www.esd.ny.gov" target="_blank">Empire State Development</a></li>
                        <li> <a href="https://esd.ny.gov/sites/default/files/Dashboard-2023-11.pdf" target="_blank">Economic Indicators Dashboard</a></li>
                        <li><a href="https://esd.ny.gov/esd-media-center/reports" target="_blank">Reports</a></li>
                        <li><a href="https://esd.ny.gov/about-us/careers" target="_blank">Careers</a></li>
                        <li> <a href="https://esd.ny.gov/doing-business-ny/requests-proposals" target="_blank">Requests for Proposals</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Public Information</h4>
                    <ul>
                        <li><a href="https://esd.ny.gov/esd-media-center/board-meetings" target="_blank">Board Meetings</a></li>
                        <li><a href="https://esd.ny.gov/publicmeetings_notices/publicmeetings_archives.html" target="_blank">Board Meeting Archives</a></li>
                        <li><a href="http://esd.ny.gov/FOIL.html" target="_blank">FOIL Requests</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Help</h4>
                    <ul>
                        <li><a href="http://esd.ny.gov/privacypolicy.html#accessibility" target="_blank">Accessibility</a></li>
                        <li><a href="http://esd.ny.gov/PrivacyPolicy.html" target="_blank">Privacy Policy</a></li>
                        <li><a href="https://esd.ny.gov/about-us/contact-us" target="_blank">Contact Us</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Miscellaneous</h4>
                    <ul>
                        <li> <a href="../generalResources/ESD-Agency-Organizational-Chart-2023.pdf" target="_blank">Organizational Chart</a></li>
                        <li>
                            <a href="https://goer.ny.gov/anti-discrimination-investigations" target="_blank">
                                Employee
                                Discrimination Complaint Form
                            </a>
                        </li>
                        <li><a href="../digitalLiaisons.asp">Digital Liaison Resources</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Affiliates</h4>
                    <ul>
                        <li><a href="http://www.iloveny.com/" target="_blank"> I LOVE NEW YORK </a></li>
                        <li><a href="https://esd.ny.gov/industries/tv-and-film/" target="_blank">NYS FILM </a></li>
                    </ul>
                </div>
                <div class="social-media"> </div>
                <!-- FOOTER CONTENT ENDS HERE -->
            </div>
        </div>


        <div class="container">
            &copy; 2024 - Intranet - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>


    <script src="~/assets/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/assets/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/assets/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


