@model IntranetDev.Models.Hrfile

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="FileName">File Name</label>
        <input asp-for="FileName" class="form-control" />
        <span asp-validation-for="FileName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="FileDetails">File Details</label>
        <input asp-for="FileDetails" class="form-control" />
        <span asp-validation-for="FileDetails" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Upload File</label>
        <input type="file" name="file" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="UploadedBy">Uploaded By</label>
        <input asp-for="UploadedBy" class="form-control" />
        <span asp-validation-for="UploadedBy" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Entity">Entity</label>
        <select asp-for="Entity" class="form-control">
            <option value="">Select Entity</option>
            <option value="ESD">ESD</option>
            <option value="DED">DED</option>
            <option value="Shared">Shared</option>
        </select>
        <span asp-validation-for="Entity" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Section" class="control-label">HR Section</label>
        <select asp-for="Section" class="form-control">
            <option value="">Select HR Section</option>
            <option value="Forms & Resources">Forms & Resources</option>
            <option value="Policies & Handbooks"> Policies & Handbooks</option>
            <option value="Reasonable Accommodation">Reasonable Accommodation</option>
            <option value="Training & Development">Training & Development</option>
            <option value="Retirement Planning">Retirement Planning</option>
        </select>
        <span asp-validation-for="Section" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
</form>

 