@{
    ViewData["Title"] = "Economic Analysis and Research";
}
 

<li class="nav-item dropdown">
    <a class="nav-link text-dark" asp-area="" asp-controller="EconomicAnalysisResearch" asp-action="EcoIndicatorsDashboard">Economic Indicators Dashboard</a>
</li>

<li class="nav-item dropdown">
    <a class="nav-link text-dark" asp-area="" asp-controller="EconomicAnalysisResearch" asp-action="EcoResearchData">Econmic Research Data</a>
</li>
