@{
    ViewData["Title"] = "Economic Analysis & Research Data";
}


<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Economic Analysis & Research Data</h2>
                    <p class="card-text">
                        The Economic Analysis and Research team has created this database of industry-specific stats, which will be updated on a quarterly basis. The database will continue to grow and evolve, with additional industry-related information added, going forward.
                    </p>
                    <p class="card-text">
                        For additional information, please contact <a href="mailto:michelle.cummings@esd.ny.gov">michelle.cummings@esd.ny.gov</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>