@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">


<body>
    <!-- banner header-->
    <header class="p-5 text-white text-center header">
        <!-- <div class="feature">
          <p class="p-fix"><b>ESD Leadership</b>Hope Knight serves as President, CEO and Commissioner of Empire State Development. She was nominated by New York Governor Kathy Hochul in October 2021, and was confirmed by the New York State Senate on May 4, 2022.
            Additionally, Kevin Law was confirmed and designated Chair of ESD's Board of Directors on June 3, 2022.  For more information on Hope, please visit ESD's leadership page <a href="https://esd.ny.gov/about-us/leadership" target="_blank">here</a>. </p>
        </div> -->
    </header>


    <!-- sub header feature links currently 655 nyc move -->

    <div class="flex-container" style="background-color: #acaaaa;">
        <div class="col-2" style="text-align: right;">

            <a href="https://gcc02.safelinks.protection.outlook.com/?url=https%3A%2F%2Fdocs.google.com%2Fforms%2Fd%2Fe%2F1FAIpQLSdTqXmP2O-ObA2GuYoZOIKcn3glUcVGSK-ucYzHL-eQOzrr2w%2Fviewform%3Fusp%3Dsf_link&amp;data=05%7C02%7CDillon.Kircher%40esd.ny.gov%7Cb9d7ccfc088845e7a12008dc33f53f7c%7Cf46cb8ea79004d108ceb80e8c1c81ee7%7C0%7C0%7C638442375622888503%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C0%7C%7C%7C&amp;sdata=eH2PVzdP%2FaPRTre93iJprA8tmZPE1PyM6hyveY46QfE%3D&amp;reserved=0">
                <a href="/NYC-New-Office/">
                    <button class="covid" style="width: 38%;">
                        <i class="fas fa-camera fa-mr"></i>
                        655 Move Information (Photos)
                    </button>
                </a>

                <a href="NYC-New-Office/QA-NYC-Office-Move.pdf">
                    <button class="covid" style="width: 38%;">
                        <i class="fas fa-video"></i>
                        Agency Wide Discussion (Video)
                    </button>
                </a>
        </div>

        <div class="col-2" style="text-align: left; text-decoration: none;">
            <a href="https://gcc02.safelinks.protection.outlook.com/?url=https%3A%2F%2Fdocs.google.com%2Fforms%2Fd%2Fe%2F1FAIpQLSdTqXmP2O-ObA2GuYoZOIKcn3glUcVGSK-ucYzHL-eQOzrr2w%2Fviewform%3Fusp%3Dsf_link&amp;data=05%7C02%7CDillon.Kircher%40esd.ny.gov%7Cb9d7ccfc088845e7a12008dc33f53f7c%7Cf46cb8ea79004d108ceb80e8c1c81ee7%7C0%7C0%7C638442375622888503%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C0%7C%7C%7C&amp;sdata=eH2PVzdP%2FaPRTre93iJprA8tmZPE1PyM6hyveY46QfE%3D&amp;reserved=0">
                <button class="covid" style="width: 38%;">
                    <i class="fas fa-question"></i>
                    NYC Office Move Questions
                </button>
            </a>
            <a href="NYC-New-Office/QA-NYC-Office-Move.pdf">
                <button class="covid" style="width: 38%;">
                    <i class="fas fa-arrow-left"></i>
                    FAQ: NYC Office Move
                </button>
            </a>
        </div>
    </div>


    <!-- feature single link - hr faq -->
    <div class="flex-container hrfaq">
        <a href="">
            <button class="covid" style="width: 380px;">Human Resources FAQ <i class="fa-solid fa-circle-question"></i></button>
        </a>
    </div>


    <!-- Section\\\ Covid - Remote Work -->
    <div class="flex-container" style="margin-top: 12px; align-items: flex-start;">
        <div class="col-2">
            <h2>COVID-19 Guidance</h2>
            <a href="COVID-19/personalHealthQuarantine.asp">
                <button class="button-f">COVID-19 Isolation and Precaution Information</button>
                <br />
                <a href="covid-19/data/CDC-Quarantine-Guidance.pdf">
                    <button class="button-f">CDC Isolation Guidance</button>
                </a><br />
                <a href="COVID-19/timeAttendance.asp">
                    <button class="button-f">COVID-19 Time & Attendance</button>
                </a>
                <p class="p-fix wh" style="text-align: center;">
                    If you test positive for COVID-19, please contact for additional guidance: <br />
                    <a href="mailto:Maria.Gately@esd.ny.gov" class="b-l"> <i class="far fa-envelope"></i> Maria Gately (ESD Corp HR)</a> &nbsp;|&nbsp;
                    <a href="mailto:Kaitlyn.McCann@esd.ny.gov" class="b-l"> <i class="far fa-envelope"></i> Kaitlyn McCann (DED HR)</a>
                </p>
        </div>

        <div class="col-2">
            <h2>Remote Work</h2>

            <!--
                <div class="flex-container" style="margin-top: 12px; align-items: flex-start;">
                <div class="flex-child green"> -->
            <a href="humanResources/telcommuting.asp">
                <!-- <button class="button-f">Telecommuting</button> -->
                <i class="fa-solid fas fa-laptop fbk" style="color: #0073ea;"></i></i><br />
                <span class="fa-txt">Telecommuting</span>
            </a>
            <br />

            <a href="COVID-19/workFromHome.asp">
                <!-- <button class="button-f">Work From Home Tips</button> -->

                <i class="fa-regular fas fa-lightbulb fbk" style="color: #0073ea;"></i><br />
                <span class="fa-txt">Telecommuting Tips</span>
            </a>
            <p class="p-fix show-read-more" style="text-align: left;">
                The ESD Telecommuting Pilot Program allows approvred staff to telecommute no more than 50% of
                their scheduled workdays. Staff are expected to abide by the assigned program guidelines and supervisors are expected to ensure their staff are compliant.
                Newly appointed staff are not eligible to telecommute for the first forty-five (45) days of their employment. If interested, employees who are new to
                the agency should discuss telecommuting eligibility with their immediate supervisor.
                Please click on the links for additional Program details.
            </p>
        </div>
    </div>


    </div>
    </div>
    </div>



    <span class="block-p"></span>


    <!-- Section\\\ Caso - ESD Connects -->
    <div class="row">
        <div class="col-3">
            <h2>WellNYS Everyday</h2>
            <svg xmlns="http://www.w3.org/2000/svg" width="96" height="96" viewBox="0 0 24 24" fill="none" stroke="#0073ea" stroke-width="1.5=" stroke-linecap="round" stroke-linejoin="round" class="feather feather-sun"><circle cx="12" cy="12" r="5"></circle><line x1="12" y1="1" x2="12" y2="3"></line><line x1="12" y1="21" x2="12" y2="23"></line><line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line><line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line><line x1="1" y1="12" x2="3" y2="12"></line><line x1="21" y1="12" x2="23" y2="12"></line><line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line><line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line></svg>
            <!-- <i class="far fa-sun fa-l"></i> -->
            <p class="p3">Empowers NYS employees and their families by encouraging participation in healthy behaviors.</p>
            <a href="https://oer.ny.gov/wellnys-everyday" target="_blank">
                <button class="button-f-w">WellNYS Everyday Website <i class="fas fa-external-link-alt"></i></button>
                <i class="fas fa-heart-pulse"></i>
            </a>
            <a href="humanResources/Data/2024/wellnys/2024-March-WellNYS-Daily-To-Do.pdf" target="_blank"><button class="button-f-w">March -2024 Monthly Calendar </button></a>
            <a href="humanResources/Data/2024/wellnys/2024-WellNYS-Everyday-Monthly-Challenges.pdf" target="_blank"><button class="button-f-w">Monthly To-Do Daily Challenges!</button></a>
            <a href="humanResources/Data/2024/wellnys/2024-WellNYS-Everyday-bookmark.pdf" target="_blank"><button class="button-f-w">Monthly To-Do Printable Bookmark</button></a>
            <a href="humanResources/Data/2024/wellnys/March-Wellness-Webinars-Flyer.pdf" target="_blank"> <button class="button-f-w">Monthly Webinars - Shopping and Making Your Meals</button></a>
            <!-- close col 1 wellnys stuff -->
        </div>


        <div class="col-3" style="background-color: #f1f1f1;">
            <h2>Lunchtime Learning</h2>
            <svg xmlns="http://www.w3.org/2000/svg" width="96" height="96" viewBox="0 0 24 24" fill="none" stroke="#0073ea" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-monitor"><rect x="2" y="3" width="20" height="14" rx="2" ry="2"></rect><line x1="8" y1="21" x2="16" y2="21"></line><line x1="12" y1="17" x2="12" y2="21"></line></svg>
            <!-- <i class="fas fa-chalkboard-teacher fa-l"></i> -->
            <h3> Video Presentations</h3>
            <a href="https://wdrv.it/68550fdca">
                <button class="button-f-w">Lunch and Learn Video Series</button>
            </a>
            <h3>Press Releases</h3>
            <a href="https://esd.ny.gov/esd-media-center/press-releases">
                <button class="button-f-w">ESD news and press releases</button>
            </a>
            <p class="p3">Keep up with official news and from ESD and the <a href="http://www.governor.ny.gov/news">Office of the Governor <i class="fas fa-external-link-alt"></i></a>.</p>
            <!-- close col 2 lunch learn -->
        </div>

        <div class="col-3">
            <h2> Employee Assistance Program (EAP)</h2>
            <svg xmlns="http://www.w3.org/2000/svg" width="96" height="96" viewBox="0 0 24 24" fill="none" stroke="#0073ea" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
            <!-- <i class="fas fa-users fa-l"></i> -->
            <p class="p3">Find local, state and national resources on a wide range of topics.</p>
            <a href="https://oer.ny.gov/self-help-resources" target="_blank"><button class="button-f-w">EAP Self-Help Resources</button></a>
            <p class="p3">Covers a variety of topics on wellness, productivity and YOU! </p>
            <a href="humanResources/data/2024/eap/2024-EAP-February-FrontLine-Newsletter.pdf" target="_blank">
                <button class="button-f-w">
                    EAP Frontline Employee
                    Newsletter
                </button>
            </a>
            <!-- close col 3 eap -->
        </div>
    </div>

    <span class="block-p"></span>


    <!--  2 Section\\\ - Caso - Connects -->
    <div class="flex-container" style="margin-top: 12px; align-items: flex-start;">
        <div class="col-2" style="style=" background-color: #f1f1f1;"">
            <h2>CASO Document Management Presentation: </h2>
            <!-- <i class="fas fa-folder-open fa-l"></i>  -->
            <svg xmlns="http://www.w3.org/2000/svg" width="96" height="96" viewBox="0 0 24 24" fill="none" stroke="#0073ea" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
            <br />
            <a href="https://wdrv.it/e09b7c59c"></a>
            <button class="button-f">Digitizing ESD Department Files</button>
            </a>
        </div>
        <div class="col-2" style="padding: 8px;">
            <h2>ESD Connects</h2>
            <!-- <i class="fas fa-newspaper fa-l"></i> -->
            <svg xmlns="http://www.w3.org/2000/svg" width="96" height="96" viewBox="0 0 24 24" fill="none" stroke="#0073ea" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-link"><path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"></path><path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"></path></svg>


            <div class="flex-container">
                <div class="col-2 ff txt-l">
                    <div class="txt-l">
                        <a href="https://us1.campaign-archive.com/?u=183d290403bc63873463f6780&id=e27298fe18" title="ESD Connects: Winter Edition!" target="_blank">02/16/24: Winter Edition!</a><br />
                        <a href="http://eepurl.com/iGOwgM" title="A Year in Review: ESD Connects 2023" target="_blank">12/28/23: A Year in Review</a><br />
                        <a href="http://eepurl.com/iCKCJw" title="Fall Edition: ESD Connects" target="_blank">11/08/23: Fall Edition</a><br />
                        <a href="http://eepurl.com/iyAs9w" title="Celebrating Summer! ESD Connects: September" target="_blank">09/07/23: Celebrating Summer!</a><br />
                    </div>
                </div>

                <div class="col-2 ff txt-l">
                    <div class="txt-l">
                        <a href="http://eepurl.com/iuXUr-/" title="Summer's in Swing! ESD Connects: July" target="_blank">07/14/23: Summer's in Swing!</a><br />
                        <a href="http://eepurl.com/irk042" title="ESD Connects: June Edition" target="_blank">06/06/23: June Edition</a><br />
                        <a href="http://eepurl.com/ipkKc6" title="ESD Connects: May Edition" target="_blank">05/08/23: May Edition</a><br />
                        <a href="http://eepurl.com/ilxtvL" title="ESD Connects: April Edition" target="_blank">04/03/23: April Edition</a><br />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <span class="block-p"></span>

</body>
</html>
